<div class="flex items-center justify-center space-x-10 mt-5">
    <button class="font-bold rounded-full focus:outline-none hover:scale-90" (click)="resetTimer()">
        <ng-icon ngxTippy="Reiniciar contador" [tippyProps]="{placement: 'bottom'}" size="35" class=" text-gray-100"
            name="bootstrapArrowClockwise"></ng-icon>
    </button>
    <button class="font-bold rounded-full focus:outline-none hover:scale-90" (click)="stopStartTimer()">
        <ng-icon size="35" ngxTippy="Pausar contador" [tippyProps]="{placement: 'bottom'}" class=" text-gray-100"
            name="bootstrapPauseFill" *ngIf="status"></ng-icon>
        <ng-icon size="35" ngxTippy="Iniciar contador" [tippyProps]="{placement: 'bottom'}" class=" text-gray-100"
            name="bootstrapPlayFill" *ngIf="!status"></ng-icon>
    </button>
    <button class="font-bold rounded-full focus:outline-none hover:scale-90" (click)="skipTimer()">
        <ng-icon ngxTippy="Proximo contador" [tippyProps]="{placement: 'bottom'}" size="35" class=" text-gray-100"
            name="bootstrapSkipForwardFill"></ng-icon>
    </button>
</div>